/* Login.css */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.login-right {
  z-index: 2; /* Ensures the form appears above the video */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-right-container {
  background-color: rgba(239, 239, 239, 0.64); /* Semi-transparent background for form */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Shadow for depth */
  max-width: 450px;
}



.login-center {
  text-align: center;
}

.login-center h2, .login-center p {
  color: #0b0909; /* High contrast against the light form background */
}

input[type=email], input[type=password], .login-center-buttons button {
  width: 100%;
  padding: 11px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 20px;
}

.pass-input-div {
  position: relative;
}

.fa6 { /* Adjustments for eye icons */
  position: absolute;
  right: 122px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.login-center-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition:  0.3s ease;
}

.login-center-buttons button:hover {
  background-color: #0056b3;
}

.login-center-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.forgot-pass-link, .login-bottom-p a {
  color: #007bff;
  text-decoration: none;
}

.forgot-pass-link:hover, .login-bottom-p a:hover {
  text-decoration: underline;
}

.login-bottom-p {
  color: #c9c9c9; /* For readability */
}

@media (max-width: 768px) {
  .login-right-container {
    width: 90%; /* Allows for some margin on smaller screens */
  }
}
