/* Grundinställningar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.192); /* Vit med nästan genomskinlighet */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.636);
  backdrop-filter: blur(6px);
  background-size: cover;
  background-position: center;
}

/* Formulärets rubrik */
.form-header {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Formulärelement */
.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000000;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 1rem;
}

.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Inloggningsknapp */
.form-submit {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #0056b3;
}

/* Responsiv design */
@media (max-width: 480px) {
  .form-container {
    padding: 1.5rem;
  }
}
