@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  position: relative; /* Positionera relaterat till videon */
  z-index: 1; /* Högre än video z-index för att innehållet ska visas ovanpå */
  /* Lägg till ytterligare styling för att positionera och forma innehållet */
}
.grid-container {
  display: grid;
  /* Lägg till ytterligare grid-egenskaper efter behov */
}
.flex-container {
  display: flex;
  /* Lägg till ytterligare flex-egenskaper efter behov */
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Dölj horisontell skrollning */
}

/* Se till att dina containers inte överskrider bredden av viewporten */
.container {
  max-width: 100vw; /* 100vw säkerställer att bredden är 100% av viewportens bredd */
  overflow-x: hidden; /* Dölj innehåll som överskrider bredden */
}
.venues-container {
  width: 100vw; /* Viewport width: ensures it takes up full width */
  height: 100vh; /* Viewport height: ensures it takes up full height */
  position: absolute; /* Position it over any other content */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling within the container */

}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px; 
    margin: auto;
  }
}
/* Stil för venue-card */
.venue-card {
  width: 100%; /* Säkerställer att kortet kan expandera till full bredd */
  max-width: 1200px; /* Eller vilken maxbredd du vill ha på ditt kort */
  margin: auto; /* Centrerar kortet horisontellt om det inte tar upp hela bredden */
}

/* Responsivitet */
@media (min-width: 1024px) {
  .venue-card {
    width: 90%; /* Eller vilken procentandel av bredden du föredrar */
  }
}

/* General styles */
h1, .venue-info h2 {
  color: #333;
  font-weight: 700;
  text-align: center;
  font-weight: 700;
}

p, .filter-label, .filter-select {
  color: #666;
  font-size: 16px;
}

/* Venues list container */
.venues-container {
  position: relative;
  overflow-y: auto;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  height: calc(100vh - 40px);
}

/* Venue cards for list view */
.venue-cards { /* fixa rutorna så man kan se bakgrunden*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid layout */
  gap: 20px;
}

.venue-card {
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(255, 0, 0, 0.25); /* More pronounced shadow for depth */
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  color: white;
}

.venue-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(251, 0, 0, 0.22);
}

.venue-img {
  width: 100%;
  height: auto; /* Fixed height for uniformity */
  object-fit: cover; /* Ensure images cover the area well */
}

.venue-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 5px;
  gap: auto; 
}





.btn, .venue-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px; /* Larger padding for a more clickable area */
  border-radius: 4px;
  font-weight: 500; /* Slightly bolder font */
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover, .venue-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.filter-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content */
}
.filter-select {
  padding: 8px 12px; /* Larger padding for easier selection */
  font-size: 16px; /* Larger font size for readability */
}

.filters-container {
  display: flex;
  flex-direction: column; /* Stack filters in a column */
  align-items: center; /* Center-align the filters */
  gap: 10px; /* Space between filters */
  margin-bottom: 20px; /* Space from the content below */
}

h1 {
  color: white;
}

.filter-label {
  margin-bottom: 5px; /* Space between label and select box */
  color: #fff; /* Assuming a darker background; adjust as needed */
}


.filter-select {
  padding: 10px;
  border-radius: 5px; /* Rounded corners for select box */
  border: 1px solid #ccc; /* Subtle border */
  color: #333; /* Text color */
  background-color: #fff; /* Light background for contrast */
}
@media (max-width: 768px) {
  .venue-details {
    flex-direction: column; /* Stack details vertically on smaller screens */
  }
}


.filter-section {
  display: flex;
  justify-content: center; /* Center the filters horizontally */
  flex-wrap: wrap; /* Allow the filters to wrap on smaller screens */
  gap: 20px; /* Add some space between filters */
  margin-bottom: 20px; /* Space before the list of venues */
}

.filter-select:hover {
  border-color: #007bff;
}

.filter-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

/* Enhancements for the venue details view */
.venue-details-container, .venue-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}



@keyframes scroll-left {
  0% {
    transform: translateX(100%);
    color: #00d4ff; /* Startfärg */
  }
  50% {
    color: #ff00aa; /* Mellanfärg */
  }
  100% {
    transform: translateX(-100%);
    color: #00d4ff; /* Slut (och start) färg */
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Ursprunglig storlek */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.05); /* Lite större */
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
  }
}

.marquee {
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  padding: 20px 0;
}

.marquee__content span {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 10vw;
  display: inline-block; /* Lägg till för animeringsändamål */
  animation: pulse 3s infinite ease-in-out; /* Använd pulse-animationen */
}

.marquee__content {
  display: flex;
  animation: scroll-left 20s linear infinite;
}




.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.background-video {
  width: auto; /* Adjust width and height to your preference */
  height: auto; /* This ensures the video maintains aspect ratio */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensures the video stays in the background */
}
.mapImage {
  max-width: 100%; /* Ensure it doesn't overflow the viewport */
  overflow: hidden; /* Hide any overflow */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Add some space below the map */
}

.mapImage img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area of the container without losing aspect ratio */
}
@media (max-width: 768px) {
  .mapImage {
    margin-bottom: 10px; /* Less space on smaller screens */
  }

  .mapImage img {
    object-fit: contain; /* Adjust object-fit if needed for smaller screens */
  }
}
